<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="bean" class="spring.ioc.applicationcontext.ApplicationContextBean">
       <property name="value" value="spring.ioc.applicationcontext.ApplicationContextBean"/>
   </bean>

</beans>