<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- p-namespace -->
	<bean id="setterBean" class="spring.di.setter.SetterBean" p:bean-ref="baseDIBean">
<!-- 		<property name="bean" ref="baseDIBean"></property> -->
	</bean>
	<bean id="baseDIBean" class="spring.di.BaseDIBean">
	</bean>
</beans>