<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="requiredBean" class="spring.annotation.required.RequiredBean">
		<property name="annotationBean" ref="annotationBean"></property>
		<property name="name" value="aaaa"></property>
		<property name="age" value="12312"></property>
	</bean>
	<bean id="annotationBean" class="spring.annotation.AnnotationBean"></bean>
</beans>