<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="constructorBean" class="spring.di.constructor.ConstructorBean">
		<constructor-arg ref="baseDIBean"></constructor-arg>
		<constructor-arg ref="baseDIBean2"></constructor-arg>
		<constructor-arg value="zaa"></constructor-arg>
		<constructor-arg value="123"></constructor-arg>
	</bean>
	<bean id="baseDIBean" class="spring.di.BaseDIBean"></bean>
	<bean id="baseDIBean2" class="spring.di.BaseDIBean2"></bean>
</beans>